.top-img-wrraper{
  position: relative;
  width: 100%;
  height: 250px;
  top: -1.2rem;
  left: 0;
}

.top-img-wrraper::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.adress{
  position: relative;
  color: white;
  z-index: 10;
  top:9rem;
  width: 100%;
  text-align: center;
  font-family: "Monserrat";
  font-size:1.2rem;
  font-weight: bold;
}

.top-img-wrraper img{
  position: absolute;
  width: 100%;
  height:100%;
  object-fit: cover;
}

.contact-info-container{
  position: relative;
  width: 100%;
  height:200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-info{
  position: relative;
  width: 20%;
  height: 100px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-image: url("https://dusangojkovic87.github.io/assets/img/contact/eggs.jpg");
  background-size: cover;
  background-position: center;
}

.contact-info img{
  z-index: 10;
}

.scale--up{
  transform: scale(1.2);
}

.contact-info p{
  z-index: 10;
  color: white;
  font-size:1rem;
  font-weight: bold;
}

.contact-info a{
  z-index: 10;
  color: white;
  font-size:1.2rem;
  font-weight: bold;
  text-decoration: none;

}

.contact-info::after{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  top: 0;
  left: 0;
  border-radius: 5px;
}

.map-container{
  position: relative;
  width: 100%;
  height: 400px;
}

#map{
  position: absolute;
  width: 100%;
  height: 100%;
}

.location-text-wrraper{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom:5rem;
  top:0rem;
}

.location-text-wrraper h6{
  color: black;
  font-family: "Dancing Script";
  font-size: 2rem;
}

@media only screen and (max-width:720px){
  .contact-info-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:500px;
  }

  .contact-info{
    width: 30%;
  }
}

@media only screen and (max-width:630px){
  .contact-info{
    width: 40%;
  }
}

@media only screen and (max-width:498px){
  .contact-info{
    width: 45%;
  }
}

@media only screen and (max-width:432px){
  .contact-info{
    width: 50%;
  }
}

@media only screen and (max-width:382px){
  .contact-info{
    width: 60%;
  }
}

@media only screen and (max-width:324px){
  .contact-info{
    width: 65%;
  }
}

