<h4>NAŠA MISIJA</h4>
<div class="our-goals-card-container">
  <div class="our-goals-inner-wrraper">
    <div class="our-goals-item">
      <img class="ok__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>vrhunski kvalitet pilića</p>
    </div>
    <div class="our-goals-item">
      <img class="ok__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>vrhunski kvalitet roditeljskog jata</p>
    </div>
    <div class="our-goals-item">
      <img class="ok__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Najbolji uslovi saradnje</p>
    </div>
  </div>
</div>
