<div class="quail-eggs-heading-wrraper">
   <h1>- Jaja prepelice -</h1>
</div>
<div class="quail-eggs-container">
  <img src="/assets/img/eggs/quail.jpg" alt="quail.jpg" />
  <div class="text-wrraper-top">
    <p>
      Jaja prepelice bogata su vitaminima
      <span class="green--text">A, B1, B6, B12, C, D i E</span>, gvožđem,
      fosforom, cinkom i važnim aminokiselinama. Po svojoj hranljivosti
      prepeličije jaje zamenjuj pet kokošijih, sadrže biološki aktivne elemente,
      stimulante, veliki broj vitamina, minerala i osnovnih aminokiselina. U
      odnosu na kokošije jaje, imaju pet puta više fosfora, osam puta više
      gvožđa, šest puta više vitamina B1 i petnaest puta više ostalih vitamina.
      Jedno jaje daje 15,8 kalorija. Zbog toga imaju pozitivan fiziološki efekat
      na ljudski organizam, na krvni pritisak, krv, srce, jetru, stomak i mozak.
    </p>
  </div>
  <div class="text-wrraper-bottom">
    <p>
      Pored koristi za nabrojane organe,mora se posebno naglasiti da su jaja i
      meso japanske prepelice vrlo korisni:
    </p>
    <ol>
      <li class="green--text">za decu u razvoju</li>
      <li class="green--text">kao korisna hrana za dijetalce</li>
      <li class="green--text">za regulaciju i podmladjivanje organizma</li>
      <li class="green--text">za rekonvalescente</li>
      <li class="green--text">za atletičare</li>
      <li class="green--text">za osobe koje se oporavljaju od bolesti</li>
    </ol>
  </div>
</div>
<div class="quail-ingredients-container">
  <div class="quail-ingredients-wrraper">
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg">
      <p>13% belančevina</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon"  src="/assets/icons/ok.svg" alt="ok.svg">
      <p>1.2% masti</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon"  src="/assets/icons/ok.svg" alt="ok.svg">
      <p>1.1% minerala,od toga 0.5% kalijuma</p>
    </div>
  </div>
  <div class="quail-ingredients-wrraper" >
    <div class="ingredient-item">
      <img class="ingredient__icon"  src="/assets/icons/ok.svg" alt="ok.svg">
      <p>2.2% fosfora</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon"  src="/assets/icons/ok.svg" alt="ok.svg">
      <p>3.2% gvoždja</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon"  src="/assets/icons/ok.svg" alt="ok.svg">
      <p>vitamine A1,B6</p>
    </div>
  </div>
</div>
<app-footer></app-footer>

