<div class="chicken-eggs-heading-wrraper">
  <h1>- Kokošija jaja -</h1>
</div>
<div class="chicken-eggs-container">
  <img src="assets/img/eggs/chickeneggs.jpg" alt="chickeneggs.jpg" />
  <div class="text-wrraper-top">
    <p>
      Jaja spadaju u red vrlo cjenjenih namirnica, kako zbog hranljive tako i
      zbog zaštitne vrednosti svojih sastojaka. Kao i u svakom jajetu, pa tako i
      u kokošijem nalaze se gotovo sve vaznije mineralne materije, a u žumancetu
      se nalaze vitamini <span class="green--text">A, D, B i E</span>. Ljudski
      organizam vrlo dobro iskorištava te materije iz jajeta. U njihov sastav
      ulaze <span class="green--text">10 esencijalnih aminokiselina </span>koje
      su potrebne da bi ljudski organizam funkcionisao, a koje ne može sam
      sintetisati.
    </p>
  </div>
  <div class="text-wrraper-bottom">
    <p>
      Kao dobar izvor <span class="green--text">kolina</span>, konzumiranje jaja
      utiče na zdravlje moždanih funkcija. Prema rezultatima raznih
      istraživanja, jaja imaju dobar izvor
      <span class="green--text">luteina i zeaksantina</span> što pospješuje
      zdravlje očiju. Samim tim što sadrže vitamine kao što su
      <span class="green--text">biotin</span> učestvuju u održavanju
      <span class="green--text">zdravlja kose, noktiju i kože</span>. Vrlo su
      lako probavljiva jer se nakon konzumacije brzo razgrađuju u želudcu.
    </p>
  </div>
</div>
<div class="chicken-ingredients-container">
  <div class="chicken-ingredient-wrraper">
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Vitamin A</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Vitamin B1 (Tijamin)	</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Vitamin B2 (Riboflavin)	</p>
    </div>
  </div>
  <div class="chicken-ingredient-wrraper">
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Vitamin D	</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Kalcijum (Ca)	</p>
    </div>
    <div class="ingredient-item">
      <img class="ingredient__icon" src="/assets/icons/ok.svg" alt="ok.svg" />
      <p>Fosfor (P)	</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
