<div class="card-container">
  <div class="card-item">
    <img
      class="card__img__icon"
      src="assets/img/card/rooster.png"
      alt="rooster.png"
    />
    <img
      class="card__rectangle__icon"
      src="assets/img/card/rectangle.svg"
      alt="rectangle.svg"
    />
    <h6>UZGOJ ŽIVINE</h6>
    <p>
      Naše kokoške imaju stalni pristup pašnjaku.Ishrana se sastoji od
      žitarica,bez hrane koja sadrži GMO.
    </p>
  </div>
  <div class="card-item">
    <img
      class="card__img__icon"
      src="assets/img/card/eggs.png"
      alt="eggs.png"
    />
    <img
      class="card__rectangle__icon"
      src="assets/img/card/rectangle.svg"
      alt="rectangle.svg"
    />
    <h6>ORGANSKA JAJA</h6>
    <p>
      Organska jaja ne sadrže materije koje su štetne po zdravlje ljudi.Kao što
      su:pesticidi,teški metali i hormoni.
    </p>
  </div>
  <div class="card-item">
    <img
      class="card__img__icon"
      src="assets/img/card/field.png"
      alt="field.png"
    />
    <img
      class="card__rectangle__icon"
      src="assets/img/card/rectangle.svg"
      alt="rectangle.svg"
    />
    <h6>EKOLOŠKA SREDINA</h6>
    <p>
      Naša mala farma se nalazi u ekološkoj nezagađenoj sredini,što nam daje
      prednost u odnosu na farme koje se nalaze u urbanim sredinama.
    </p>
  </div>
</div>
