<div class="video-container">
  <video
    playsinline="true"
    [preload]="true"
    [autoplay]="true"
    loop="true"
    [muted]="true"
    id="video__background"
  >
    <source src="/assets/video/video.mp4" type="video/mp4" />
    <source src="/assets/video/video.ogg" type="video/ogg" />
    <img
      src="/assets/video/fallback.jpg"
      title="Your browser does not support the video tag"
    />
  </video>
  <h1 class="home__heading">Farma Todorović</h1>
  <h2 class="home__subheading">kokošja i prepeličija jaja</h2>
  <button (click)="redirectToOffer()" class="order__btn">
    pogledaj ponudu
  </button>
</div>
<app-card></app-card>
<app-footer></app-footer>
