.about-us-img-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height:600px;
}

.about-us-img-container img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-img-container::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.text-wrraper-top{
  position: relative;
  top:7rem;
  width: 50%;
  z-index: 10;
  margin: 0 auto;
  background-color:rgba(196, 196, 196, 0.6);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 2px 2px #83C62F;
}

.text-wrraper-top p{
  color: white;
  text-align: center;
  font-family: "Monserrat";
  font-weight: bold;
  font-size: 0.9rem;
}

.text-wrraper-bottom{
  position: relative;
  width: 60%;
  top:9rem;
  z-index: 10;
  background-color:rgba(196, 196, 196, 0.6);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 2px 2px #83C62F;
}

.text-wrraper-bottom p{
  color: white;
  text-align: center;
  font-family: "Monserrat";
  font-weight: bold;
  font-size: 0.9rem;

}

@media only screen and (max-width:850px){
  .text-wrraper-top{
    width: 80%;
  }
  .text-wrraper-bottom{
    width: 80%;
  }
}
