<div class="about-us-img-container">
  <img src="assets/img/aboutUs/quaileggs.jpg" alt="quaileggs.jpg" />
  <div class="text-wrraper-top">
    <p>
      Nalazimo se u mestu Glibovac,opština Smederevska Palanka.Baš tu,u srcu
      Šumadije bavimo se proizvodnjom pilića i japanskih prepelica.Kao i
      proizvodnjom kokošijih i prepeličijih jaja.
    </p>
  </div>
  <div class="text-wrraper-bottom">
    <p>
      Poštujući odredbe Zakona o dobrobiti životinja, strogo vodimo računa o
      živini, pre svega kada je reč o prostoru gde se one uzgajaju. Na našoj
      farmi pažnja se poklanja obezbeđivanju optimalnih uslova – suvoće,
      provetrenosti, potrebne temperature i vlažnosti vazduha, osvetljenja i
      čistoće, kao i gustini naseljenosti pilića.
    </p>
  </div>
</div>
<app-our-goals-card></app-our-goals-card>
<div class="bottom-img-wrraper">
  <img src="assets/img/aboutUs/healthyeggs.png" alt="healthyeggs.png">
</div>
<app-footer></app-footer>
