html,body{
  margin: 0;
  padding: 0;
}

@font-face{
  font-family: "Monserrat";
  src: url("assets/fonts/Montserrat-Regular.ttf")
}

@font-face{
  font-family: "Dancing Script";
  src: url("assets/fonts/DancingScript-Regular.ttf")
}

.activeNavLink{
  color: #83C62F !important;
}

.activeEggMenu{
  background-color: #83C62F !important;
}
