<div class="navigation-links-container">
  <img id="logo" src="assets/icons/logo.svg" alt="logo.svg" />
  <img
    (click)="toggleNavbar()"
    id="bars"
    [src]="navState === true ? close : bars"
    alt="bars.svg"
  />
  <nav
    [ngClass]="
      navState ? 'nav--background--color--show' : 'nav--background--transparent'
    "
  >
    <ul [ngClass]="navState ? 'show--ul' : 'hide--ul'">
      <li>
        <a
          routerLink="/pocetna"
          routerLinkActive="activeNavLink"
          appClosenavbar
          (closeNavbar)="closeNavbar($event)"
          >Početna</a
        >
      </li>
      <li>
        <a
          routerLink="/onama"
          routerLinkActive="activeNavLink"
          appClosenavbar
          (closeNavbar)="closeNavbar($event)"
          >O nama</a
        >
      </li>
      <li>
        <a
          routerLink="/jaja"
          routerLinkActive="activeNavLink"
          appClosenavbar
          (closeNavbar)="closeNavbar($event)"
          >Jaja</a
        >
      </li>
      <li>
        <a
          routerLink="/uputstvo"
          routerLinkActive="activeNavLink"
          appClosenavbar
          (closeNavbar)="closeNavbar($event)"
          >Uputstvo</a
        >
      </li>
      <li>
        <a
          routerLink="/kontakt"
          routerLinkActive="activeNavLink"
          appClosenavbar
          (closeNavbar)="closeNavbar($event)"
          >Kontakt</a
        >
      </li>
    </ul>
  </nav>
</div>
