.navigation-links-container{
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  z-index:20;
  height: 50px;
}


#logo{
  position: absolute;
  width:10rem;
  height:10rem;
  top:-4rem;
  left: 1rem;
}

#bars{
  position: absolute;
  right: 3rem;
  width:2.4rem;
  height:2.4rem;
  cursor: pointer;
  z-index:300;
  transition: 4s ease-in;
}

nav{
  position: relative;
  top:-2rem;
  display: flex;
  justify-content:center;
  margin-right: 4rem;
  width: 100%;
  height: 500px;
  z-index: 10;

}

nav ul{
  position: relative;
  display: flex;
  flex-direction: column;
  display: none;
  padding: 0;
}

nav ul li{
  position: relative;
  margin: 2rem;
  list-style: none;
  height: 2rem;
  outline: none;
  text-align: center;

}

nav ul li::after{
  display:block;
  content: '';
  border-bottom: solid 2px  #83C62F;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav ul li:hover::after{
  transform: scaleX(1);
}

nav ul li a{
  color: #C8C8C8;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Monserrat";
  font-weight: bolder;
  text-shadow: 1px 1px black;
  text-align: center;
  text-decoration: none;
}

.show--ul{
  position: relative;
  display: flex !important;
  height: 500px;
}

.nav--background--color--show{
  position: relative;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 100 !important;
  height: 100vh;



}

.nav--background--transparent{
  position: relative;
  background-color:transparent;
  height: 0;
}

.hide--ul{
  display: none !important;
}

@media only screen and (min-width:768px){
  #bars{
    display: none;
  }

  nav ul{
    display: flex !important;
    flex-direction: row;
    margin-right: 3rem;

  }

  nav{
    background-color: transparent !important;
    justify-content: flex-end;

  }



}


