.footer-container{
  position: relative;
  width: 100%;
  height:100px;
  background-color: #83C62F;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-item{
  display: flex;
}

.footer__icon{
  width: 2.4rem;
  height: 2.4rem;
}

p{
  margin-left: 1rem;
  color: #504A4A;
  font-family: "Monserrat";
  font-weight: bold;

}

@media only screen and (max-width:720px){
  .footer-container{
    flex-direction: column;
    justify-content:space-around;
    height:250px;

  }
}
