<div class="footer-container">
  <div class="footer-item">
    <img
      class="footer__icon"
      src="assets/icons/footer/phone.svg"
      alt="phone.svg"
    />
    <p>064-572-55-94</p>
  </div>
  <div class="footer-item">
    <img
      class="footer__icon"
      src="assets/icons/footer/email.svg"
      alt="email.svg"
    />
    <p>todorovicdejan853@gmail.com</p>
  </div>
  <div class="footer-item">
    <img
      class="footer__icon"
      src="assets/icons/footer/facebook.svg"
      alt="facebook.svg"
    />
    <p>
      <a href="https://www.facebook.com/dejantarzan.todorovic"
        >Dejan Todorović</a
      >
    </p>
  </div>
</div>
